{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "tabWidth": 2,
  "useTabs": false
}
