.button  {
  cursor: pointer;
  user-select: none;
  text-align: center;
  border-width: var(--border-base);
  border-radius: var(--rounded-base);
  font-weight: var(--font-normal);

  color: var(--color--white);
  background-color: var(--color-gray-900);
  border-color: var(--color-gray-900);
}

.button:global(.xs) {
    font-size: var(--font-xs);
    line-height: var(--leading-xs);
    padding: var(--spacing-xs) var(--spacing-xs);
}

.button:global(.sm) {
    font-size: var(--font-sm);
    line-height: var(--leading-sm);
    padding: var(--spacing-sm) var(--spacing-sm);
}

.button:global(.base) {
    font-size: var(--font-base);
    line-height: var(--leading-base);
    padding: var(--spacing-base) var(--spacing-base);
}

.button:global(.lg) {
    font-size: var(--font-lg);
    line-height: var(--leading-lg);
    padding: var(--spacing-lg) var(--spacing-lg);
}

.button:global(hover), .button:hover {
  background-color: var(--color-indigo-700);
  border-color: var(--color-indigo-700);
}

.button:global(.disbaled), .button:disbaled {
  background-color: var(--color-gray-700);
  border-color: var(--color-gray-700);
}

.prefix {
  display: inline-block;
  vertical-align: top;
}
.subfix {
  display: inline-block;
  vertical-align: top;
}
