:root {
    
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-cool-gray-50: #F9FAFB;
    --color-cool-gray-100: #F3F4F6;
    --color-cool-gray-200: #E5E7EB;
    --color-cool-gray-300: #D1D5DB;
    --color-cool-gray-400: #9CA3AF;
    --color-cool-gray-500: #6B7280;
    --color-cool-gray-600: #4B5563;
    --color-cool-gray-700: #374151;
    --color-cool-gray-800: #1F2937;
    --color-cool-gray-900: #111827;

    --color-gray-50: #FAFAFA;
    --color-gray-100: #F4F4F5;
    --color-gray-200: #E4E4E7;
    --color-gray-300: #D1D5DB;
    --color-gray-400: #A1A1AA;
    --color-gray-500: #71717A;
    --color-gray-600: #52525B;
    --color-gray-700: #3F3F46;
    --color-gray-800: #27272A;
    --color-gray-900: #1F1F1F;


    --color-indigo-50: #EEF2FF;
    --color-indigo-100: #E0E7FF;
    --color-indigo-200: #C7D2FE;
    --color-indigo-300: #A5B4FC;
    --color-indigo-400: #818CF8;
    --color-indigo-500: #6366F1;
    --color-indigo-600: #4F46E5;
    --color-indigo-700: #546BFF;
    /* #4338CA; */
    --color-indigo-800: #3730A3;
    --color-indigo-900: #312E81;

    --font-xs: 1.2rem;
    --font-sm: 1.2rem;
    --font-base: 1.4rem;
    --font-lg: 1.6rem;

    --leading-xs: 1.8rem;
    --leading-sm: 1.8rem;
    --leading-base: 2.2rem;
    --leading-lg: 2.4rem;

    --spacing-xs: 0.1rem;
    --spacing-sm: 0.4rem;
    --spacing-base: 0.4rem;
    --spacing-lg: 0.5rem;

    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    --rounded-base:  0.4rem;
    --border-base: 0.1rem;
    --padding-base: 0.4rem;

}
