.button  {
    user-select: none;
    text-align: center;
    border-width: 0;
    height: 20px;
    padding: 0 8px;
    line-height: 20px;
    border-radius: 4px;
    color: #D8D8D8;
    text-shadow: 1px 1px #333;
    font-size: 1.2rem;
}

.button:hover {
    /* #BDBDBD */
    /* background: #343434; */
    background: #424242;
}

.button:global(.selected) {
    background: #424242;
}
