.yz-card-container {
    border-radius: var(--rounded-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}
.yz-card {
    display: flex;
    place-content: flex-start space-between;
    width: 100%;
}
.yz-module {
    padding: 0 14px;
}
.yz-search {
    padding: 8px 0 8px 12px;
    border-bottom: 1px solid #D8D8D8;
}
.yz-search input::placeholder
.yz-search .yz-icon {
    color: #1F1F1F;
    opacity: 0.3;
}
.yz-container {
    display: flex;
    flex-direction: row;
    place-content: flex-start space-between;
    flex-wrap: wrap;
}
.yz-content {
    background-color: #F5F5F5;
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    margin-bottom: 12px;
    position: relative;
}
.header-icon {
    composes: cos-btn -v-text -v-h -v-w -v-border-none from global;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: center; */
    border-radius: var(--rounded-md);
    color: var(--hsl-dark);
}
:global(.yz-hovering) .header-icon,
:global(.yz-click) .header-icon{
    background-color: var(--color-white);
}

.header-icon:global(.yz-repeat) {
    color: hsl(237, 99%, 68%);
}
.header-icon:global(.yz-regular) {
    color: var(--hsl-gray-900);
}
.header-icon.left {
    flex-shrink: 0;
}
.header-icon.right {
    flex-grow: 1;
}
.header-icon:global(.square) {
    padding: 0;
}
:global(.yz-click) {
    border: 1px solid hsl(237, 99%, 68%);
}
.yz-filter-container {
    display: flex;
    justify-content: end;
}
.yz-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid hsla(0,0%,12%,0.1);
    border-radius: var(--rounded-md);
}
.yz-filter-content {
    width: 270px;
    background: #25252B;
    color: var(--color-white);
    border-radius: 8px;
}
.yz-filter-list {
    height: 260px;
    overflow: scroll;
}
.yz-filter-components {
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start space-between;
    padding: 0 11px;
}
.yz-filter-tag {
    display: inline-flex;
    width: 56px;
    height: 26px;
    align-items: center;
    justify-content: center;
    background-color: hsla(0,0%,100%,0.08);
    color: var(--color-white);
    border-radius: 13px;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
}
.yz-filter-smart p {
    margin: 0;
    padding: 6px 0 15px 0;
}
.yz-filter-type p {
    margin: 0;
    padding: 4px 0 5px 0;
}
.yz-filter-smart .yz-filter-tag {
    width: 68px;
}
.yz-filter-type .yz-filter-components {
    padding: 0 18px;
}
.yz-filter-close {
    background: #546BFF;
}
.yz-filter-btn {
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start space-between;
    padding: 0 61px;
    margin-top: 20px;
}
.yz-bus-filter {
    margin-bottom: var(--padding-md);
}
.yz-title {
    margin-bottom: 1.8rem;
    display: flex;
    padding-left: 6px;
}
.yz-title-icon {
    display: flex;
    align-items: center;
    margin-right: 3px;
}
.yz-tootip {
    
    padding: 6px;
    background-color:  #25252B;
    color: var(--color-white);
    border-radius: var(--rounded-md);
    font-size: var(--font-xs);
    text-align: center;
}
.yz-card-title {
    position: absolute;
    top: 11rem;
    z-index: 10;
}