.button  {
    composes: cos-btn -v-text -v-h -v-px -v-border-none from global;

    display: flex;
    align-items: center;
    user-select: none;
    border-radius: var(--rounded-md);
    
    color: #D8D8D8;
    text-shadow: 1px 1px #333;
}

.button:hover {
    /* #BDBDBD */
    /* background: #343434; */
    background: #424242;
}

.button:global(.selected) {
    background: #424242;
}
