.button {
    composes: cos-btn -v-color-dark -v-bg-inapparent -v-text -v-h -v-px -v-border-none rounded from global;
    background-color: var(--color-gray-400);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    opacity: .5;
}

.prefix {
    composes: -v-mr from global;
}
.content {

}
.suffix {
    composes: -v-ml from global;
}

.button:global(.hover), .button:hover {
    opacity: .8;
    background-color: var(--color-gray-300);
}

.button:global(.active), .button:active {
    opacity: 1;
    background-color: var(--color-gray-400);
}
