:root {
    font-size: 10px;
    line-height: 100%;
}
body {
    margin: 0;
    background: var(--color-cgray-100);
}
body.mode-dark{
    background: var(--color-cgray-900);
}

button {
    text-shadow: 1px 1px 1px var(--color-primary-500);
}

.mode-dark button {
    text-shadow: 1px 1px 1px var(--color-primary-800);
}

.select {
    height: auto;
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(./font/font.woff2) format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
