:root {
    font-size: 10px;
    line-height: 100%;
}
body {
  margin: 0;
  background: var(--bg-color);
}

button {
    text-shadow: 1px 1px 1px var(--color-primary-500);
}

.mode-dark button{
    text-shadow: 1px 1px 1px var(--color-primary-800);
}
