.tabs {
    border-radius: .4rem;
    background-color: hsla(var(--hsl-dark), .08);
}

.cursor {
    display: none;
    /* transition: 0.8s ease; */
}

.tab-pane {
    line-height: 2.6rem;
    opacity: .6;
    border-radius: .4rem;

    composes: -v-text from global;
    justify-content: center;
}
.tab-pane:hover,
.tab-pane:global(.hover) {
    opacity: .9;
}

.tab-pane:active,
.tab-pane:global(.active) {
    opacity: 1;
    background-color: hsla(var(--hsl-dark), .1);
}

.label {
    display: block;
    user-select: none;
}

.tabs-nav {
    display: flex;
}

.tabs-nav-item {
    padding-right: var(--padding-xs);
    padding-left: var(--padding-xs);
}

.tabs-nav-selected {
    composes: -v-color-primary from global;
}

.tabs-divider {
    display: none;
}

.tabs-cursor {
    display: none;
}
