.root {
    border-radius: .4rem;

    composes: -v-bg-inapparent -v-h -v-px -v-text from global;
}

.root:active,
.root.active {
    background-color: var(--color-gray-100);
}

.input {
    border: none;
    color: var(--color-dark);
    outline: none;
    background-color: transparent;
    user-select: none;

    composes: -v-text from global;
}

.prefix {
    margin-right: .8rem;
    color: var(--color-gray-300);
}

.root:hover .prefix {
    color: var(--color-dark);
}


.subfix {
    visibility: hidden;
    margin-left: var(--margin-md);
    font-size: 1rem;
}

.root:active .subfix,
.root:hover .subfix,
.root:global(.active) .subfix {
    visibility: visible;
}
